.Flow {
  flex-grow: 1;
  font-size: 12px;
}

.react-flow__node-custom {
  border: 1px solid #555;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

.column-name:last-child {
  border-bottom: 0 !important;
}

.react-flow__handle-left {
  border: 0 !important;

  background: transparent !important;
}

.react-flow__handle-right {
  border: 0 !important;

  background: transparent !important;
}

.column-name__description {
  display: none;
}

.column-name__description {
  display: none;
  position: absolute;
  top: 0;
  right: -4px;
  width: 150px;
  transform: translateX(100%);
  padding: 4px;
  z-index: 1000;

  border: 1px solid #CBD2D9;

  border-radius: 4px;

  background-color: #FFF;

  font-size: 10px;
}

.column-name--selected .column-name__description {
  display: block;
}

/* HAS MANY */

/* https://reactflow.dev/docs/guides/theming/#react-flow-class-names */
.has-many-edge.selected path.react-flow__edge-path {
  marker-end: url(#hasManySelected);
}

.has-many-edge-reversed.selected path.react-flow__edge-path {
  marker-end: url(#hasManyReversedSelected);
}

.has-many-edge--highlighted path.react-flow__edge-path,
.has-many-edge--highlighted path.react-flow__edge-interaction,
.has-many-edge--highlighted path.react-flow__connection-path {
  stroke: blue !important;
}

.has-many-edge-reversed--highlighted path.react-flow__edge-path,
.has-many-edge-reversed--highlighted path.react-flow__edge-interaction,
.has-many-edge-reversed--highlighted path.react-flow__connection-path {
  stroke: blue !important;
}

/* HAS ONE */

/* https://reactflow.dev/docs/guides/theming/#react-flow-class-names */
.has-one-edge.selected path.react-flow__edge-path {
  marker-end: url(#hasOneSelected);
}

.has-one-edge-reversed.selected path.react-flow__edge-path {
  marker-end: url(#hasOneReversedSelected);
}

.has-one-edge--highlighted path.react-flow__edge-path,
.has-one-edge--highlighted path.react-flow__edge-interaction,
.has-one-edge--highlighted path.react-flow__connection-path {
  stroke: blue !important;
}

.has-one-edge-reversed--highlighted path.react-flow__edge-path,
.has-one-edge-reversed--highlighted path.react-flow__edge-interaction,
.has-one-edge-reversed--highlighted path.react-flow__connection-path {
  stroke: blue !important;
}

/* .react-flow__pane, */
:not(:root):fullscreen::backdrop {
  background-color: #FFF;
}

.react-flow__node {
  background-color: #F5F7FA;
}

.column-name__name {
  margin-right: 16px;
}

.column-name__type {
  color: #BBB;
}

.column-name {
  cursor: pointer;
}

.column-name:hover {
  background-color: #EFEFEF;
}

.info-popup {
  position: fixed;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  z-index: 20000;
  transform: translateX(-50%) translateY(-50%);

  border: 2px solid #555;
  border-radius: 16px;

  background-color: #FFF;
}

.table__name {
  border: 0;
  border-radius: 4px 4px 0 0;
}

.table__columns {
  border: 1px solid #CBD2D9;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

.key-icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
