.Flow {
  flex-grow: 1;
  font-size: 12px;
}

.react-flow__node-custom {
  border: 1px solid #555;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.column-name:last-child {
  border-bottom: 0 !important;
}

.react-flow__handle-left {
  border: 0 !important;

  background: transparent !important;
}

.react-flow__handle-right {
  border: 0 !important;

  background: transparent !important;
}

.column-name__description {
  display: none;
}

.column-name:hover .column-name__description {
  display: block;
  position: absolute;
  top: 0;
  right: -4px;
  width: 300px;
  transform: translateX(100%);
  padding: 4px;
  z-index: 1000;

  border: 1px solid #B1B1B6;

  border-radius: 4px;

  background-color: #FFF;

  font-size: 10px;
}

.has-many-edge.selected path.react-flow__edge-path {
  marker-end: url(#hasManySelected);
}

.has-many-edge-reversed.selected path.react-flow__edge-path {
  marker-end: url(#hasManyReversedSelected);
}
