.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 0 1rem;
}

.App__logo {
  top: 16px;
  left: 16px;
  position: fixed;
  z-index: 50000;

  background: none;

  text-decoration: none;

  cursor: pointer;
}

.layout {
  position: fixed;
  width: 100%;
  height: 100%;
}

.layout__outlet {
  width: 100%;
  height: 100%;
}
