/* https://reactflow.dev/docs/guides/theming/#react-flow-class-names */
.has-many-edge.selected path.react-flow__edge-path {
  marker-end: url(#hasManySelected);
  stroke-width: 1.5;
}

.has-many-edge-reversed.selected path.react-flow__edge-path {
  marker-end: url(#hasManyReversedSelected);
  stroke-width: 1.5;
}

.has-many-edge--highlighted path.react-flow__edge-path,
.has-many-edge--highlighted path.react-flow__edge-interaction,
.has-many-edge--highlighted path.react-flow__connection-path {
  stroke: #2186EB !important;
  stroke-width: 1.5px;
}

.has-many-edge-reversed--highlighted path.react-flow__edge-path,
.has-many-edge-reversed--highlighted path.react-flow__edge-interaction,
.has-many-edge-reversed--highlighted path.react-flow__connection-path {
  stroke: #2186EB !important;
  stroke-width: 1.5px;
}
