.info-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.7);
}

.info-popup__inner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: 200000;
  padding: 16px 16px 8px;
  transform: translateX(-50%) translateY(-50%);

  border-radius: 8px;

  background-color: #FFF;

  font-size: 16px;
  line-height: 1.4;
}

.info-popup__headline {
  margin-top: 0;
}

.info-popup__close-icon {
  position: absolute;
  top: 12px;
  right: 12px;

  cursor: pointer;
}

.info-popup__close-icon:hover {
  opacity: 0.7;
}

@media (min-width: 512px) {
  .info-popup__inner {
    max-width: 576px;
  }
}
