import { TableConfig } from "../types";

// import usersTable from "../../config/tables/users.json";

const tables = [
  // usersTable,
];

export const loadTables = (): TableConfig[] => {
  return tables;
};
