@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,500,600,700,800&display=swap");

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-display: swap;
  color: #1F2933;
}

body,
html,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4 {
  margin-top: 1em;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  background:
    linear-gradient(
      to right,
      rgba(31, 41, 51, 1),
      rgba(31, 41, 51, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(33, 134, 235, 1)
  );
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 1px, 100% 1px;
}

.emoji {
  height: 1.1em;
  width: 1.1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.mb-32 {
  margin-bottom: 32px;
}
